DB_URL=jdbc:postgresql://<host>:5432/<database>?sslmode=require
DB_USERNAME=<your_db_user>
DB_PASSWORD=<your_db_password>
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
APP_USERNAME=admin
APP_PASSWORD=admin123
SERVER_PORT=8081
